
<section id="{% include "partials/components/section-id.twig" %}" class="section-content image">

    <div class="content image">

        <div class="full-bleed-image">
            <img type="{{ section.image_field.mime_type }}" src="{{ section.image_field.sizes.full_bleed }}" alt="{{ section.image_field.alt }}" />

        </div>

        {% if section.caption %}
            <div class="caption">{{ section.caption }}</div>
        {% elseif section.image_field.caption %}
            <div class="caption">{{ section.image_field.caption }}</div>
        {% endif %}

    </div>
    <br/>

</section>
