{% macro dispatch( menu, page, parent ) %}

<div id="sidebar-small-scrim" class="sidebar-toggle sidebar-{{ parent.slug }} sidebar-closed">
    <div class="sidebar-state-indicator"><div class="sidebar-closed-text">menu</div><div class="pictogram sidebar-open-text">ﬂ</div></div>
</div>

<div id="sidebar" class="top-element sidebar-{{ parent.slug }} sidebar-toggle-target sidebar-toggle sidebar-closed">
    <ul class="sidebar-content">
        {% for item in menu.get_items %}
            {% if item.slug == parent.slug %}

                {% for child in item.get_children %}
                    {% set sections = page.get_field("sections") %}
                    {% set named_sections = 0 %}

                    {% for section in sections %}{% if section.show_in_menu %}{% set named_sections = named_sections + 1 %}{% endif %}{% endfor %}

                    <li class="nav-item sidebar-parent-nav-item">
                        <a class="sidebar-link" href="{{ child.link }}"><h5 class="{% if child.slug == page.slug %}active{% endif %} {% if sections|length == 0 %}no-children{% endif %} sidebar-type sidebar-parent-type">{{ child.title }}</h5></a>
                        {% if child.slug == page.slug %}

                        {% if named_sections > 0 %}

                            <ul class="nav-item-submenu">
                                {% for section in sections %}
                                    {% if section.show_in_menu %}
                                        <li class="sidebar-child-nav-item">
                                            <h6 class="sidebar-child-type sidebar-type "><a class="sidebar-link" href="#{% include "partials/components/section-id.twig" %}">{{ section.section_title }}</a></h6>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                        {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}

            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}
