{% macro dispatch( menu, page, parent ) %}
<div id="sidebar" class="top-element sidebar-{{ parent.slug }}">
    <ul>
        {% for item in menu.get_items %}
            {% if item.slug == parent.slug %}

                {% for child in item.get_children %}
                    <li class="nav-item sidebar-parent-nav-item">
                        <a href="{{ item.get_url }}"><h5 class="{% if child.slug == page.slug %}active{% endif %} nav-type">{{ child.title }}</h5></a>
                        {% if child.slug == page.slug %}

                        <ul class="nav-item-submenu">
                            {% for section in page.get_field("sections") %}
                                {% if section.show_in_menu %}
                                    <li class="sidebar-child-nav-item">
                                        <a href="">{{ section.section_title }}</a>
                                    </li>
                                {% endif %}
                                <script type="text/javascript">console.log({{ section|json_encode }})</script>
                            {% endfor %}
                        </ul>


                        {% endif %}
                    </li>
                {% endfor %}

            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}
