{#-  BASE TEMPLATE -#}


<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{% block meta_description %}{% if post.summary %}{{ post.summary }}{% else %}{{ site.description }}{% endif %}{% endblock %}">

        <title>{% spaceless %}
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        {% endspaceless %}</title>

        <!-- Google Site Verification -->
        <meta name="google-site-verification" content="l_8CpdIICEjgMG2P8CYCRatNWN5dwIatiY7xFDT-hFY" />

        <!-- Facebook Open Graph data -->
        <meta property="og:title" content="{% spaceless %}{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}{% endspaceless %}" />
        <meta property="og:description" content="{% block og_description %}{% if post.summary %}{{ post.summary }}{% else %}{{ site.description }}{% endif %}{% endblock %}" />
        <meta property="og:image" content="{% include "partials/components/featured-image.twig" %}" />
        <meta property="og:url" content="{% if post.link %}{{ post.link }}{% else %}{{ site.url }}{% endif %}" />
        <meta property="og:type" content="website" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@risd_precollege" />
        <meta name="twitter:title" content="{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}" />
        <meta name="twitter:description" content="{% if post.summary %}{{ post.summary }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="twitter:image" content="{% include "partials/components/featured-image.twig" %}" />

        <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.uri }}/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.uri }}/icons/favicon-32x32.png">
        <link rel="apple-touch-icon" href="/public/images/apple-icon.png">

        <!-- cloud.typography font definitions -->
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6416636/7682592/css/fonts.css" />

        {{ wp_head }}

        {% include "partials/components/facebook-pixel-code.twig" %}

    </head>
    <body class="{{ body_class }} {% if options.show_sitewide_alert %} sitewide-alert-on {% endif %} menu-closed">

        {% include "partials/sitewide_alert.twig" %}

        {% include "partials/overlay.twig" %}
        {% include "partials/ie.twig" %}
        {% include "partials/header.twig" %}
        {% include "partials/menu.twig" %}
        {% include "partials/search-menu.twig" %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.twig" %}

        {{ wp_footer }}
    </body>
</html>
