{% extends "partials/base.twig" %}

{% import "partials/components/section.twig" as sections %}

{% import "partials/components/sidebar.twig" as sidebar %}

{% block description %}{% if post.summary %}{{ post.summary }}{% else %}{{ site.description }}{% endif %}{% endblock %}

{% block content %}

        <div class="container">

            {{ sidebar.dispatch( menu, post, parent ) }}

            <div id="content" class="content-section">

                <h1 class="page-title">{{post.title}}</h1>

                {% for section in post.get_field('sections') %}

                    {{ sections.dispatch( section, loop.index ) }}

                {% endfor %}

                <div class="search-home-link mb2 mt2">

                    <a class="nav-link bold" href="/">&larr; Head back Home</a>

                </div>

            </div>


        </div>

{% endblock %}
