{#-  BASE TEMPLATE -#}


<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">

        <title>{% spaceless %}
            {% if wp_title %}
                {{ wp_title }} | {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        {% endspaceless %}</title>


        <!-- Facebook Open Graph data -->
        <meta property="og:title" content="{% spaceless %}{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}{% endspaceless %}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:type" content="website" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" value="">

        <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon-96x96.png">
        <link rel="apple-touch-icon" href="/public/images/apple-icon.png">

        {{ wp_head }}

    </head>
    <body class="{{ body_class }} menu-closed">

        {% include "partials/overlay.twig" %}
        {% include "partials/ie.twig" %}
        {% include "partials/header.twig" %}
        {% include "partials/menu.twig" %}
        {% include "partials/search-menu.twig" %}


        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.twig" %}

        {{ wp_footer }}
    </body>
    <script>
        console.log({{ options|json_encode }});
        console.log({{ menu|json_encode }});
        console.log({{ post|json_encode }});
        console.log({{ parent|json_encode }});
    </script>
</html>
