{% import "partials/components/application-button.twig" as button %}

<footer class="container">
        <div class="header-row">
            <h5 class="footer-type uppercase bold brand-dark-gray">RISD Pre-College</h5>
        </div>
        <div class="content-row">
            <div class="buttons-column">

                {{ button.footer_apply_button( options ) }}

                <div class="footer-more-info-button footer-button">
                    <a class="footer-link" href="/info/request-more-info"><span class="more-info-button-text"><span class="hidden-sm">Need More </span>Information?</span></a>
                </div>
            </div>
            <div class="contact-column">
                <div class="social-media">
                    <div class="social-link pictogram"><a class="footer-link" target="_blank" href="{{ options.facebook_url }}"><div class="social-icon">F</div></a></div>
                    <div class="social-link pictogram hidden"><a class="footer-link" target="_blank" href=""><div class="social-icon">t</div></a></div>
                    <div class="social-link pictogram"><a class="footer-link" target="_blank" href="{{ options.instagram_url }}"><div class="social-icon">A</div></a></div>
                    <div class="social-link pictogram hidden"><a class="footer-link" target="_blank" href=""><div class="social-icon">m</div></a></div>
                </div>
                <div class="contact-telephone"><p class="uppercase small"><span class="label">Local</span> <a class="phone-number footer-link" href="tel:4014546200">{{ options.local_telephone_number }}</a></p></div>
                <div class="contact-telephone"><p class="uppercase small"><span class="label">International</span> <a class="phone-number footer-link" href="tel:180036474732">{{ options.international_telephone_number }}</a></p></div>
            </div>
        </div>
        <div class="affiliates-row hidden-sm">
            <div class="affiliates-list">
                <div class="footer-link"><a class="footer-link" target="_blank" href="http://risd.edu">RISD</a></div>
                <div class="footer-divider"></div>
                <div class="footer-link"><a class="footer-link" target="_blank" href="http://summer.risd.edu">Summer Programs</a></div>
                <div class="footer-divider"></div>
                <div class="footer-link"><a class="footer-link" target="_blank" href="http://ce.risd.edu">Continuing Education</a></div>
                <div class="footer-divider"></div>
                <div class="footer-link"><a class="footer-link" target="_blank" href="http://exed.risd.edu">Executive Education</a></div>
                <div class="footer-divider"></div>
                <div class="footer-link"><a class="footer-link" target="_blank" href="http://global.risd.edu">Global</a></div>
            </div>
        </div>
        <div class="copyright-row"><p class="tiny">Copyright {{ "now"|date("Y") }} – The Rhode Island School of Design Pre-College Program</p></div>
</footer>
