{% macro logo_image_spread( slide, last, options ) %}

    <div class="home-spread-section logo-image-spread {% if last %}last-slide{% endif %}">

        {% if slide.slide_type == 'image' %}
            <div class="home-page-image-bounds">
                <img class="home-page-image" src="{{ slide.image.url }}" />
            </div>
        {% else %}
            <div class="home-page-image-bounds">
                <video class="home-page-image" playinline autoplay loop muted {% if slide.image %}poster="{{ slide.image.url }}"{% endif %}>
                    <source src="{{ slide.video.url }}" type="{{ slide.video.mime_type }}">
                </video>
            </div>
        {% endif %}

        <div class="home-page-image-mask"></div>

        <div class="home-page-logo">
            <h1 class="brand-white giant">
                Rhode Island <br /> School of Design <br /> <span class="brand-yellow">Pre-College</span>
            </h1>
        </div>

        <div class="home-page-buttons button-set {% if options.applications_are_open %}applications-open{% endif %}">
            <a class="home-page-button program-button {% if options.applications_are_open %} applications-open{% endif %}" href="/program/about-pre-college">
                <span class="button-text">Learn More</span>
            </a>
            <a class="home-page-button info-button {% if options.applications_are_open %}applications-open{% endif %}" href="/program/join-our-mailing-list">
                <span class="button-text"><span class="hidden-xs hidden-sm">Join our Mailing List</span><span class="hidden-lg hidden-md hidden-xl">Get Mail</span></span>
            </a>
        </div>
    </div>
    {% if last %}
    <div class="home-footer-padding home-spread-section " style="background-color:{{slide.overlay_box_color}};">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro image_spread( slide, last  ) %}

    <div class="home-spread-section image-spread {% if last %}last-slide{% endif %}">
        <img class="home-page-image" src="{{ slide.image.url }}" />
    </div>
    {% if last %}
    <div class="home-footer-padding home-spread-section " style="background-color:{{slide.overlay_box_color}};">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro big_header_spread( slide, last ) %}

    <div class="text-section home-spread-section big-header-spread {% if last %}last-slide{% endif %}" style="background-color:{{slide.overlay_box_color}};">
        <span class="text-block-big">
            <h2 class="home-page-big-header-text" style="color:{{ slide.text_color }};">{{ slide.header_text }}</h2>
            <div data-text-color="{{slide.text_color}}" style="color:{{ slide.text_color }};" class="home-page-body-text home-wysiwyg">{{ slide.body_text }}</div>
        </span>
    </div>
    {% if last %}
        <div class="home-footer-padding home-spread-section " style="background-color:{{slide.overlay_box_color}};">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro small_header_spread( slide, last ) %}

    <div class="text-section home-spread-section big-header-spread {% if last %}last-slide{% endif %}" style="background-color:{{slide.overlay_box_color}};">
        <span class="text-block-big">
            <h2 class="home-page-big-header-text" style="color:{{ slide.text_color }};">{{ slide.header_text }}</h2>
            <div data-text-color="{{slide.text_color}}" style="color:{{ slide.text_color }};" class="home-page-body-text home-wysiwyg">{{ slide.body_text }}</div>
        </span>

    </div>
    {% if last %}
    <div class="home-footer-padding home-spread-section " style="background-color:{{slide.overlay_box_color}};">&nbsp;</div>
    {% endif %}


{% endmacro %}
